<footer class="footer">
    <div class="container">
        <div>
            <div class="footer__col">
                <div class="footer__title">КОНТАКТЫ</div>
                <ul>
                    <li>Телефон: <a href="tel:+7(996)4722577">+7 (996) 472-25-77</a></li>
                    <li>E-mail: <a href="mailto:info@ipint30.ru">info@ipint30.ru</a></li>
                    <li>Адрес: г.Астрахань, переулок <br> Смоляной, д.8</li>
                </ul>
            </div>
            <div class="footer__col">
                <div class="footer__title">информация</div>
                <ul>
                    <li><a href="javascript:void(0)">О нас</a></li>
                    <li><a href="javascript:void(0)">Как нас найти</a></li>
                    <li><a href="javascript:void(0)">Доставка и оплата</a></li>
                    <li><a href="javascript:void(0)">Требования к макетам</a></li>
                </ul>
            </div>
            <div class="footer__col">
                <div class="footer__title">услуги</div>
                <ul>
                    <li><a href="javascript:void(0)">Инженерная печать</a></li>
                    <li><a href="javascript:void(0)">Широкоформатная печать</a></li>
                    <li><a href="javascript:void(0)">Полиграфия</a></li>
                    <li><a href="javascript:void(0)">Фотопечать</a></li>
                </ul>
            </div>
        </div>
        <div>
            <form action="" class="subscripbe">
                <span>Подписаться на наши новости и акции</span>

                <div class="form-group">
                    <input type="text" type="email" placeholder="Ваш e-Mail">
                    <button type="submit" class="btn">ПОДПИСАТСЯ</button>
                </div>

                <div class="footer__social">
                    <a href="javascript:void(0)"><img src="img/icons/inst-circle.svg" alt=""></a>
                    <a href="javascript:void(0)"><img src="img/icons/mail-circle.svg" alt=""></a>
                    <a href="javascript:void(0)"><img src="img/icons/youtube-circle.svg" alt=""></a>
                    <a href="javascript:void(0)"><img src="img/icons/vk-circle.svg" alt=""></a>
                    <a href="javascript:void(0)"><img src="img/icons/chat-circle.svg" alt=""></a>
                </div>
            </form>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/main.js"></script>
</body>
</html>