<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@400;700&family=Montserrat:wght@400;600;700&family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="css/main.css">

    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]--> 
</head>
<body>

<header class="header">
    <div class="container">
        <a href="/" class="header__logo"><img src="img/logo.png" alt=""></a>
        <div class="header__menu">
            <a href="/">Главная</a>
            <a href="javascript:void(0)">Заказать</a>
            <a href="javascript:void(0)">Информация</a>
            <a href="javascript:void(0)">Контакты</a>
        </div>
        <a href="tel:+7(996)4722577" class="header__phone"><span>Центр оперативной печати</span> +7 (996) 472-25-77</a>
    </div>
</header>

<div class="menu">
    <div class="container">
        <div>
            <a href="javascript:void(0)">Инженерная печать</a>

            <div class="submenu">
                <a href="javascript:void(0)">Печать чертежей</a>
                <a href="javascript:void(0)">Сканирование</a>
                <a href="javascript:void(0)">Переплет и брошюровка</a>
                <a href="javascript:void(0)">Печать  документов</a>
                <a href="javascript:void(0)">Копирование</a>
                <a href="javascript:void(0)">Фальцовка чертежей</a>
            </div>
        </div>
        <div>
            <a href="javascript:void(0)">Широкоформатная печать</a>

            <div class="submenu">
                <a href="javascript:void(0)">Печать чертежей</a>
                <a href="javascript:void(0)">Печать на холсте</a>
                <a href="javascript:void(0)">Печать плакатов</a>
            </div>
        </div>
        <div>
            <a href="javascript:void(0)">Полиграфия</a>

            <div class="submenu">
                <a href="javascript:void(0)">Визитки</a>
                <a href="javascript:void(0)">Печать листовок</a>
                <a href="javascript:void(0)">Печать плакатов</a>
                <a href="javascript:void(0)">Буклеты</a>
                <a href="javascript:void(0)">Открытки</a>
                <a href="javascript:void(0)">Ламинация</a>
            </div>
        </div>
        <div>
            <a href="javascript:void(0)">Фотопечать</a>

            <div class="submenu">
                <a href="javascript:void(0)">Печать фотографий</a>
                <a href="javascript:void(0)">Фото на документы</a>
                <a href="javascript:void(0)">Печать плакатов</a>
                <a href="javascript:void(0)">Печать на холсте</a>
                <a href="javascript:void(0)">Ламинация</a>
            </div>
        </div>
        <div>
            <a href="javascript:void(0)">Студентам</a>
        </div>
    </div>
</div>